body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Verdana, Tahoma, sans-serif;
    justify-content: center;
}

.section-one{
    background-color: #1F2937;
}

.header{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-around;
}

.header-right{
    display: flex;
    color: #e5e7eb;
}

.header-left{
    font-size: 24px;
    margin-left: 16px;
    margin-top: 16px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.git-link{
    text-decoration: underline;
}

a:visited { text-decoration: none; color: #e5e7eb; }


li{
    list-style-type: none;
    display: inline;
    margin-right: 20px;
}

.website-info{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.info-text-header{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.info-text{
    max-width: 400px;
}

.info-content{
    font-size: 18px;
    color: #e5e7eb;
}

button{
    background-color: #3882f6;
    border-radius: 8px;
}

.call-to-action{
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    align-self: center;
}

.section-three{
    background-color: #e5e7eb;
    display:flex;
    flex-direction: column;
    max-width: 800px;
    align-self: center;
}

.two-header{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.three-text{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
}

.section-two{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-container{
    display: flex;
    gap: 64px;
}

.boxes{
    display: flex;
    flex-direction: column;
    max-width: 150px;
}

.signature{
    align-self: flex-end;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #F9FAF8;
    gap: 6px;
}

.small-img{
    border-radius: 8px;
}
